<div class="">
    <a href="/dashboard/create"><button id="create-post" class=""></button>Create Post</a>
    <h2 class="title">Dashboard: Your Posts</h2><hr>
</div>

{{#if posts.length}}
    {{#each posts as |posts|}}
        {{> post-info post}}

        <a href="./dashboard/edit/{{post.id}}"><button class="">Edit Post</button></a>

        {{/each}}

        {{else}}
        <h6 class="">Currently you don't have any posts</h6>

        {{/if}}
